
<style>
  /* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=email], input[type=password] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.group .errorMessage {
  color: #cc0033;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0;
  width: 100%;
}
.err label {
  color: #cc0033;
}

.err input[type=text] {
  background-color: #fce4e4;
  border: 1px solid #cc0033;
  outline: none;
}

.err .errorMessage {
  display: flex; /* Instead of inline-block */
  width: 85%; /* Same as input width */
  left: 15%; /* Rest of the width */
  position: relative; /* Relative to parent */
  
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: left;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 30%;
  }
}
</style>
<form action="/loginPage" method="POST">
  
    <div class="container">
      <% if (error === "Incorrect credentials") { %>
       <p> Incorrect Credentials, Please give correct Credentials</p>
      <% } %>
        <label for="email">EmailId</label>
        <input type="email" placeholder="Enter Your Email" name="email" id="email" required><br><br>

        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password" name="password" id="password" required>
       <!-- <div class="error-message">Password is a required field.</div><br>-->
        <p>Please select Login Type:</p>

        <input type="radio" id="user" name="loginType" value="user">
        <label for="user">User</label>
        <input type="radio" id="admin" name="loginType" value="admin">
        <label for="admin">Admin</label><br>

        <button type="submit">Login</button><br><br>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me<br><br>
        </label>
    </div>
  </form>
  <form action="/">
    <div class="container" style="background-color:#f1f1f1">
    <a href="/"><button type="button" class="cancelbtn">Cancel</button></a>
<!-- <button type="button" class="cancelbtn">Cancel</button><br><br>-->
<!-- <span class="psw">Forgot <a href="#">password?</a></span><br><br>-->
    </div>
  </form>