Welcome to Mobiles Page
<% if (model === 'iPhone 14 Pro max') { %>
 <h1> Model of <%= title %> is <%= model %>  </h1>
 <h2>Categories: iPhone 14 Pro max 128GB</h2>
 <% } else {%>
<h1>Model number of <%= title %> is not iPhone 14 Pro max</h1>
<% } %>
