
<style>* {box-sizing: border-box}

    /* Add padding to containers */
    .container {
      padding: 16px;
    }
    
    /* Full-width input fields */
    input[type=text],input[type=email], input[type=password] {
      width: 50%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }
    
    input[type=text]:focus, input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }
    
    /* Overwrite default styles of hr */
    hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }
    
    /* Set a style for the submit/register button */
    .registerbtn {
      background-color: #04AA6D;
      color: white;
      padding: 16px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }
    
    .registerbtn:hover {
      opacity:1;
    }
    
    /* Add a blue text color to links */
    a {
      color: dodgerblue;
    }
    
    /* Set a grey background color and center the text of the "sign in" section */
    .signin {
      background-color: #f1f1f1;
      text-align: center;
    }</style>
<form action='/registrationForm' method='POST'>
    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
  
      <label>Name: </label>
      <input type="text" placeholder=" Enter your Name" name="Name" required><br><br>
  
      <label>Age: </label>
      <input type="text" placeholder="Age" name="Age" required><br><br>
  
      <label>DOB: </label>
      <input type="text" placeholder="DOB" name="DOB" required><br><br>
  
      <label>Address: </label>
      <input type="text" placeholder="Address" name="Address" required><br><br>
  
      <label>PhoneNo: </label>
      <input type="text" placeholder="PhoneNo" name="PhoneNo" required><br><br>

      <label>college: </label>
      <input type="text" placeholder="college" name="college" required><br><br>

      <label for="email"><b>Enter Your EmailId</b></label>
      <input type="email" placeholder="Enter Your Email" name="email" id="email" required><br><br>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required><br><br>

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required><br><br>

      <p>Please select User Type:</p>
      <input type="radio" id="user" name="registerType" value="user" required>
      <label for="user"><b>User</b></label>
      <input type="radio" id="admin" name="registerType" value="admin" required>
      <label for="admin"><b>Admin</b></label><br><br>

      <button type="submit" class="registerbutton">Register</button>
    </div>
  
    <div class="container signin">
      <p>Already have an account? <a href="/loginPage">Sign in</a>.</p>
    </div>
  </form>