<%- include('./partials/header') -%>
<form action="/addNewData" method="POST">

    <label>Name: </label>
    <input type="text" placeholder=" Enter your Name" name="Name"><br><br>

    <label>Age: </label>
    <input type="text" placeholder="Age" name="Age"><br><br>

    <label>Address: </label>
    <input type="text" placeholder="Address" name="Address"><br><br>

    <label>PhoneNo: </label>
    <input type="text" placeholder="PhoneNo" name="PhoneNo"><br><br>

    <label>college: </label>
    <input type="text" placeholder="college" name="college"><br><br>

    <button>Submit</button>
</form>