<%- include('./partials/header') -%>
<h1 style="color:#991466;">Welcome Admin!!!</h1>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

.callout {
  position: fixed;
  bottom: 35px;
  right: 20px;
  margin-left: 20px;
  max-width: 300px;
}

.callout-header {
  padding: 25px 15px;
  background: #555;
  font-size: 30px;
  color: white;
}

.callout-container {
  padding: 15px;
  background-color: #ccc;
  color: black
}

.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.closebtn:hover {
  color: lightgrey;
}
</style>
</head>

<form action='/adminMessage' method='POST'>
<body>
<h3 style="color:#f02f3f;">Announcement!</h3>

<p style="color:#f02f3f;"><b>Holidays starts from February 1st 2023...</b></p>

<div class="callout">
  <div class="callout-header"><b>Holiday Announcement</b></div>
  <span class="closebtn" onclick="this.parentElement.style.display='none';">x</span>
  <div class="callout-container">
    <p>Holidays starts from February 1st 2023...</p>
  </div>
</div>

<div>
  <label for="adminMessage" style="color:#2a1ce9;"><b>Provide the message to Users:</b></label><br>
  <textarea id="adminMessage" placeholder="Enter text here..."name="adminMessage" rows="10" cols="100"></textarea><br><br>
  <button type="submit"><b>Submit</b></button><br><br>
</div>


</body>
</form>
</html>