<%- include('./partials/header') -%>
<form action='/showSearchPage' method='POST'>

        <label for="City">Choose a City:</label>
        <select class="form-control" name="City" id="City">
         
          <option value="Chennai">Chennai</option>
          <option value="MP">MP</option>
          <option value="Bhopal">Bhopal</option>
          <option value="AP">AP</option>
          <option value="Coimbatore">Coimbatore</option>
          <option value="Thirupur">Thirupur</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">

    
</form>