<%- include('./partials/header') -%>
<form action='/addNewData' method='POST'>

    <label>EmpID: </label>
    <input type="text" placeholder=" Enter your EmpID" name="EmpID"><br><br>

    <label>EmpFirstName: </label>
    <input type="text" placeholder="Enter Your FirstName" name="EmpFirstName"><br><br>

    <label>EmpLastName: </label>
    <input type="text" placeholder="Enter Your LastName" name="EmpLastName"><br><br>

    <label>Address: </label>
    <input type="text" placeholder="Enter Your Address" name="Address"><br><br>

    <label>City: </label>
    <input type="text" placeholder="Enter Your City" name="City"><br><br>

    <button>Submit</button>
</form>