
<header class="site-header">
    <div class="site-identity">
        <h1 style="color:#991466;">Cartoon Family</h1>
    </div>
    <nav class="site-navigation">
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/getData">Show Data</a></li>
            <li><a href="/openForm">Add New Data</a></li>
            <li><a href="/getDataToBeUpdated">Update Data</a></li>
            <% if (loginStatus === true) { %>
                <li><a href="/logoutPage">Logout</a></li>
            <% }else{ %>
                <li><a href="/loginPage">Login</a></li>
            <% } %>
            
        </ul>
    </nav>
</header>