<header class="site-header">
    <div class="site-identity">
        <h1 style="color:#991466;">Employees Data</h1>
    </div>
    <nav class="site-navigation">
        <ul class="nav">
            <li><a href='/'>Home</a></li>
            <li><a href='/showSearchPage'>Search</a></li>
            <li><a href='/showData'>Show Data</a></li>
            <li><a href='/openAddDataForm'>Add New Data</a></li>
            <li><a href='/loginPage'>Login</a></li>
            <li><a href='/'>Logout</a></li>                        
        </ul>
    </nav>
</header>  